/* 
These CSS rules will override the 
.xforms-control {border: solid green 1px;}
See http://localhost:8080/exist/rest/db/apps/xslforms/xsleforms.css for the main XSLT CSS file.
See https://en.wikibooks.org/wiki/XSLTForms/CSS for some documentation
*/

.xforms-control.xforms-required .xforms-alert {display: none;}  
.xforms-control.xforms-required.xforms-visited .xforms-alert {display: inline-block;}

.xforms-label {
   display: inline-block;
   font-weight: bold;
   /* alternatives are black, gray or a hex code #222 or a dark gray of #555 */
   color: #555;
   margin-right: .5ex;
}